@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color-white: #fff;
  --color-primary: #6366f1;
  --color-gray-100: #f3f6ff;
  --color-gray-200: #eff2fc;
  --color-gray-300: #e2e5f1;
  --color-gray-400: #d4d7e5;
  --color-gray-500: #b4b7c9;
  --color-gray-600: #9397ad;
  --color-gray-700: #565973;
  --color-gray-800: #33354d;
  --color-gray-900: #0b0f19;
  --color-gradient: linear-gradient(to right, #6366f1, #8b5cf6, #d946ef);
  --color-system-error: #ef4444;
  --color-system-success: #22c55e;
  --color-system-warning: #ffba08;
  --color-system-info: #4c82f7;

  --container-padding: 1rem;
  --transition-time: all 0.2s;
}
/* DARK MODE SETTINGS*/
body[data-theme="dark"] {
  background: var(--color-gray-900);
  color: var(--color-white);
}
body[data-theme="dark"] .nav-link {
  color: var(--color-white);
}
body[data-theme="dark"] .fa-regular {
  color: var(--color-gray-200);
}
body[data-theme="dark"] p,
body[data-theme="dark"] .review-content {
  color: var(--color-white);
}
body[data-theme="dark"] .btn-download-app {
  background: var(--color-gray-200);
}
body[data-theme="dark"] span {
  color: var(--color-white);
}
body[data-theme="dark"] .fa-chevron-down {
  color: var(--color-gray-900);
}
body[data-theme="dark"] #how-does-it-work {
  background: var(--color-gray-900);
  background-color: rgba(255, 255, 255, 0.05);
}
body[data-theme="dark"] .icon:hover {
  background-color: var(--color-gray-800);
}
body[data-theme="dark"] .client-reviews {
  background: var(--color-gray-900);
  background-color: rgba(255, 255, 255, 0.05);
}
body[data-theme="dark"] .middle,
body[data-theme="dark"] .right {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0px 4px 10px var(--color-gray-900);
}
body[data-theme="dark"] #newsletter-section,
body[data-theme="dark"] .input-box {
  background-color: rgba(255, 255, 255, 0.04);
}
body[data-theme="dark"] .fa-chevron-up {
  color: black;
}
body[data-theme="dark"] .accordion-button {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.container {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.25rem;
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #6365f1b2;
  color: white;
  text-decoration: none;
}
.btn-primary i {
  margin-right: 0.5rem;
}
.btn-circle {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.btn-download-app {
  background-color: var(--color-gray-900);
  color: var(--color-white);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  img {
    @media (min-width: 768px) {
      width: 95%;
    }
  }
}
/* .btn-download-app:hover {
  background-color: var(--color-gray-800);
} */
.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}
.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-toggle-switch .label {
  display: none;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
.toggle-switch input {
  opacity: 0;
}
.toggle-switch input:checked + .slider {
  background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}
.toggle-switch input:checked + .slider::before {
  background-color: var(--color-white);
  transform: translateX(18px);
}
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-600);
  transition: var(--transition-time);
}
.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--color-white);
  transition: var(--transition-time);
}

.toggle-switch .slider.round {
  border-radius: 35px;
}
.toggle-switch .slider.round:before {
  border-radius: 50%;
}
.navbar {
  display: none;
}

.nav-link {
  color: var(--color-dark);
  font-weight: 600;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.active {
  color: var(--color-primary);
  text-decoration: underline;
}

#auth-signin {
  display: none;
}
header .container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.brand-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  height: 100px;
  width: 196px;
  margin-top: 2rem;
  padding: 0 6rem;
}

#brands {
  display: none;
}
/* Icon is used on more places therefor placed outside of its .container */
.icon {
  grid-area: icon;
  padding: 1rem;
  border-radius: 8px;
}
.icon:hover {
  background-color: var(--color-gray-300);
}
#app-features .container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;

  .feature-image {
    grid-area: feature-image;
    display: none;
    @media (min-width: 1400px) {
      display: block;
      width: 20rem;
      margin-right: 10rem;
    }
  }
  .app-feature-text {
    grid-area: app-feature-text;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    h1 {
      font-size: 32px;
      font-weight: 1000;
    }
    p {
      font-size: 18px;
      color: var(--color-gray-700);
    }
    @media (min-width: 1400px) {
      text-align: left;
    }
  }
  .card-container {
    grid-area: card-container;
    .card {
      display: grid;
      grid-template-areas:
        "icon headline"
        "icon p";
      gap: 1.5rem;
      margin-bottom: 1rem;
    }
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    /* .icon {
      grid-area: icon;
      padding: 1rem;
      border-radius: 8px;
    }
    .icon:hover {
      background-color: var(--color-gray-300);
    } */
    .card-text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h5 {
        grid-area: headline;
        font-size: 20px;
        font-weight: 900;
      }
      h5:hover {
        text-decoration: underline;
      }
      p {
        grid-area: p;
        font-size: 18px;
        color: var(--color-gray-700);
      }
    }
  }
  @media (min-width: 1400px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "feature-image app-feature-text app-feature-text"
      "feature-image card-container card-container";
  }
}
#how-does-it-work {
  background-color: var(--color-gray-100);
  margin-top: 4rem;
}
#how-does-it-work .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  max-width: 1184px;
  h1 {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
  }
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: none;
    }
    #mobile-img {
      display: block;
    }

    /* tablet query for image-container */
    @media (min-width: 768px) {
      #tablet-your-cards-img {
        display: block;
      }
      #mobile-img {
        width: 204px;
      }
      #tablet-transfer-right {
        display: block;
      }
    }
    /* desktop query for image-container */
    @media (min-width: 1400px) {
      gap: 5rem;

      #tablet-your-cards-img {
        display: none;
      }
      #mobile-img {
        display: none;
      }
      #tablet-transfer-right {
        display: none;
      }
      #my-budget-desktop {
        display: block;
        width: 328px;
      }
      #desktop-your-cards {
        display: block;
      }
      #desktop-transfer-right {
        display: block;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h4-mobile {
    text-align: center;
    justify-self: center;
    font-size: 22px;
    width: 290px;

    @media (min-width: 768px) {
      display: none;
    }
  }
  .h4-tablet {
    display: none;
    @media (min-width: 768px) {
      display: block;
      text-align: center;
      justify-self: center;
      font-size: 22px;
      width: 390px;
    }
    @media (min-width: 1400px) {
      display: none;
    }
  }
  .h4-desktop {
    display: none;
    font-size: 24px;
    @media (min-width: 1400px) {
      display: block;
    }
  }
  p {
    color: var(--color-gray-600);
    text-align: center;
    padding-top: 1rem;
    width: 390px;
  }
}

#features-desktop {
  display: none;
}
.client-reviews {
  display: none;
}
#faq-section {
  display: none;
}

footer .container {
  color: var(--color-gray-500);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

/* Tablet view */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .btn-toggle-switch .label {
    display: block;
    font-weight: 600;
  }
  header .container {
    grid-template-columns: 1fr auto 0.3fr;
    gap: 3rem;
  }

  .label {
    color: var(--color-gray-700);
  }
  #brands {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .brand-box {
      width: 158px;
      padding: 0 80px;

      @media (min-width: 1400px) {
        padding: 0 100px;
      }
    }
  }
  #brand-5,
  #brand-6 {
    display: none;
  }

  footer .container {
    flex-direction: row;
    gap: 0.2rem;
  }
  #newsletter-section {
    display: none;
  }
}
/* Desktop view */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;

    .nav-link {
      color: var(--color-gray-800);
    }
    .label {
      color: var(--color-gray-700);
    }
  }
  header .container {
    grid-template-columns: auto 1fr auto auto;
  }
  .navbar {
    display: block;
  }

  #auth-signin {
    display: block;
  }
  .btn-mobile {
    display: none;
  }
  #brand-5,
  #brand-6 {
    display: flex;
  }
  #features-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1076px;
    row-gap: 5rem;
    margin-bottom: 8rem;
    .btn-primary {
      width: fit-content;
      margin-top: 1.5rem;
      gap: 0.5rem;
    }
    .learn-more {
      font-size: 14px;
    }

    .div1 {
      width: 538px;
      height: 500px;

      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

      h2 {
        margin-bottom: 1.5rem;
        font-size: 32px;
        font-weight: 800;
      }
      .row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      p {
        color: var(--color-gray-700);
      }
    }
    .div2 {
      width: 538px;
      height: 500px;
      position: relative;

      .large-back {
        position: absolute;
        width: 416px;
        height: 393px;
        bottom: 60px;
      }
      .small-front {
        position: absolute;
        bottom: 10px;
        right: 65px;
      }
    }
    .div3 {
      width: 538px;
      height: 500px;
      position: relative;
      .large-back {
        position: absolute;
        padding-top: 1rem;
      }
      .small-front {
        position: absolute;
        bottom: 110px;
        right: 80px;
      }
    }

    .div4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "header header" "icon1 icon2" "p1 p2" "btn btn";
      width: 538px;
      height: 390px;
      margin-top: 3rem;
      h2 {
        grid-area: header;
        font-size: 32px;
        font-weight: 800;

        margin-bottom: 1rem;
      }
      .icon1 {
        grid-area: icon1;
      }
      .icon2 {
        grid-area: icon2;
      }
      .p1 {
        grid-area: p1;
      }
      .p2 {
        grid-area: p2;
      }
      p {
        color: var(--color-gray-700);
      }
      .btn-primary {
        grid-area: btn;
        width: fit-content;
        height: fit-content;
        gap: 0.5rem;
        margin-top: 4rem;
      }
    }
  }

  .client-reviews {
    background-color: var(--color-gray-100);
    /* max-width: 1296px; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      font-size: 40px;
      font-weight: 900;
    }

    .left {
      width: 350px;
      margin-right: 5rem;
    }

    .middle,
    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: var(--color-white);
      border-radius: 8px;
      box-shadow: 0px 4px 10px var(--color-gray-300);
      padding: var(--container-padding);
      position: relative;
      width: 416px;
    }
    .square-quote {
      position: absolute;
      top: -25px;
      left: 18px;
      box-shadow: 0px 2px 10px rgba(56, 56, 56, 0.404);
      border-radius: 6px;
    }

    .img-stars {
      padding-top: 2rem;
      padding-bottom: 1rem;
      width: 20%;
    }
    .review-content {
      color: var(--color-gray-700);
      font-size: 18px;
      padding-bottom: 1rem;
    }
    .user-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .user-name {
      font-weight: bold;
      margin-bottom: 2px;
      font-size: 16px;
    }
    .user-role {
      color: var(--color-gray-600);
      font-size: 14px;
    }
  }
  #faq-section {
    max-width: 1296px;
    margin: auto;
    display: grid;
    grid-template-areas: "faq faq accordion  accordion";
    gap: 5rem;

    .faq-container {
      grid-area: faq;
    }
    .contact-container {
      display: grid;
      grid-template-areas:
        "headline headline"
        "first-box second-box";
    }
    .text-box {
      grid-area: headline;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h2 {
        font-weight: 900;
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
    }
    .phone-box,
    .chat-box {
      border: 1px solid var(--color-gray-300);
      border-radius: 8px;
      padding: 1.2rem;
      margin-top: 2rem;
      display: grid;
      gap: 1.5rem;
      img {
        cursor: pointer;
      }
    }
    .phone-box {
      grid-area: first-box;
      display: grid;
      margin-right: 1rem;
    }
    .chat-box {
      grid-area: second-box;
      display: grid;
    }
    .green {
      color: #22c55e;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .green:hover {
      color: #22c55e;
      text-decoration: underline;
    }
    .blue {
      color: var(--color-primary);
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .blue:hover {
      color: var(--color-primary);
      text-decoration: underline;
    }

    .accordion-item {
      background-color: var(--color-white);
      border-radius: 10px;
      margin-bottom: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .accordion-button {
      background-color: var(--color-white);
      width: 100%;
      /* color: #333; */
      padding: 15px 20px;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .accordion-button .active {
      text-decoration: none;
    }

    .accordion-content {
      overflow: hidden;
      padding: 0 20px;
      transition: max-height 0.1s ease;
    }

    .accordion-content p {
      padding: 15px 0;
    }

    .icon-accordion {
      color: var(--color-white);
      font-size: 12px;
      border-radius: 50%;
      padding: 12px;
      background-color: var(--color-primary);
    }
  }
  #newsletter-section {
    display: block;
    background-color: var(--color-gray-100);
    max-width: 1296px;
    margin: auto;
    margin-top: 10rem;
    padding: 4rem;
    border-radius: 8px;
  }
  .newsletter-container {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-left: 3rem;
  }
  .subscribe {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  h4 {
    font-size: 24px;
    max-width: 28rem;
  }
  .input {
    display: flex;
    position: relative;
  }
  .letter-img {
    position: absolute;
    left: 5%;
    top: 35%;
  }
  .input-box {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px 0 0 8px;
    border: 1px solid #b4b7c9;
    color: #b4b7c9;
    outline: none;
    width: 300px;
  }
  .btn-subscribe {
    border: none;
    border-radius: 0 8px 8px 0;
  }
}

main .hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    padding-bottom: 0rem;
  }

  .container {
    display: grid;
    gap: 2.3rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "headline"
      "content";
    overflow: hidden;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "headline headline"
        "content images";
    }
    @media (min-width: 1400px) {
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "headline images"
        "content images";
      padding-top: 8rem;
    }
  }

  .headline {
    grid-area: headline;
    text-align: center;

    h1 {
      font-size: 34px;
      font-weight: 800;

      @media (min-width: 768px) {
        font-size: 44px;
        padding-bottom: 3rem;
      }
      @media (min-width: 1400px) {
        text-align: left;
        padding-bottom: 0;
      }
    }
  }
  .content {
    grid-area: content;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      margin-right: 2.5rem;
    }
    p {
      font-size: 18px;
      margin-bottom: 3rem;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
    .discover-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      gap: 1.5rem;
      color: var(--color-gray-800);

      @media (min-width: 768px) {
        justify-content: flex-start;
        padding-bottom: 3rem;
      }
      @media (min-width: 1400px) {
        margin-top: 12rem;
      }
    }
  }
  .images {
    display: none;
    grid-area: images;
    position: relative;

    @media (min-width: 768px) {
      display: block;
    }
    .img-back {
      position: absolute;
      z-index: -10;
      bottom: 0;
      right: 130px;
      width: 70%;
      height: auto;

      @media (min-width: 1400px) {
        width: 49%;
        right: 230px;
      }
    }
    .img-front {
      position: absolute;
      z-index: -5;
      bottom: 0;
      right: 0;
      width: 70%;
      height: auto;
      @media (min-width: 1400px) {
        width: 50%;
      }
    }
  }
}
